/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 * RemarkJS.............RemarkJS overrides.
 * Transitions..........Transitions and animations.
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 *
 * BASE
 * Headings.............H1–H6 styles.
 *
 * TRUMPS
 * Buttons..............Button elements.
 * Text.................Text helpers.
 */

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,800');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700');

/*------------------------------------*\
  # SETTINGS Global
\*------------------------------------*/

body {
    font-family: 'Raleway', sans-serif;
    color: #2d3436;
}

nav {
    background-color: #E9EDEE;
    padding: 1.3rem 6rem;
    font-size: 0.7rem;
}

nav span:last-child {
    float: right
}

/*------------------------------------*\
  # SETTINGS RemarkJS
\*------------------------------------*/

/* Full page mode */
.remark-slide-scaler {
    height: 95% !important;
    width: 100% !important;
    left: 0 !important;
    top: 0 !important;
    transform: none !important;
    box-shadow: none !important;
}

.remark-slide-content {
    padding: 1em 5em;
}

/* Each type of page has its own style */
.remark-slide > .cover {
    vertical-align: middle;
}

.remark-slide > .content {
    padding: 3rem 5em;
}

/*------------------------------------*\
  # SETTINGS Transitions
\*------------------------------------*/

.transition {
    -webkit-animation: fadein 2s;
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*------------------------------------*\
  # OBJECTS Wrappers
\*------------------------------------*/

.col {
    display: block;
    width: 50%;
    float: left;
}

.line {
    display: block;
    width: 10rem;
    height: 2rem;
}

/*------------------------------------*\
  # BASE Headings
\*------------------------------------*/

.highlight {
    display: block;
    width: 10rem;
    border-bottom: 8px solid #4A2383;
}

.remark-slide-content h1,
.remark-slide-content h2,
.remark-slide-content h3 {
    font-weight: 800;
}

.remark-slide-content h1 {
    font-size: 7rem;
    margin: 20px 0;
}

.remark-slide-content h2,
.remark-slide-content h3 {
    font-size: 4rem;
    margin: 20px 0;
}

.remark-slide-content .subtitle {
    color: #595959;
    font-size: 1.5em;
}

/*------------------------------------*\
  # TRUMPS Texts
\*------------------------------------*/

.strong {
    font-weight: 600;
}

.small {
    font-size: 1.1rem;
}

.text-muted {
    color: #595959;
}

.text-center {
    text-align: center;
}

li {
    margin: 0 0 10px 0;
    color: #2d3436;
}

p:last-of-type {
    margin-bottom: 2rem;
}

/*------------------------------------*\
  # TRUMPS Code blocks
\*------------------------------------*/

.remark-inline-code {
    font-family: 'Source Code Pro', monospace;
}

.remark-code {
    font-family: 'Source Code Pro', monospace;
    background: #272822;
    display: inline-block !important;
    overflow-x: auto;
    color: white;
    max-width: 100%;
    padding: 20px;
    border-radius: 5px;
}

.exercice {
    background: #272822;
    color: wheat;
}

/*------------------------------------*\
  # TRUMPS Images
\*------------------------------------*/

.image-center > p {
    text-align: center;
}

.image-right {
    float: right;
    margin-right: 5rem;
}

.image-resize > p > img {
    width: 95%;
}

.image-max-height > p > img {
    max-height: 50vh;
}

.image-mini,
.image-mini-block {
    margin: 0 10px;
    vertical-align: middle;
    position: relative;
}

.image-mini {
    display: inline-block;
    height: 7.5rem;
    width: 7.5rem;
}

.image-mini-block {
    height: 2.7rem;
    width: 5rem;
}

.image-mini > p {
    margin: 0;
    position: absolute;
    top: 50%; /* poussé de la moitié de hauteur du référent */
    transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
}

.image-mini > p > img {
    width: 100%;
}
